// Define some metadata for publishing pipeline on GitHub
manifest {
	author = 'Georgie Samaha'
	name = 'Genomics001: Parabricks-Genomics-nf'
	description = 'GPU-enabled mapping and short variant calling with Parabricks'
	homePage = 'https://github.com/Sydney-Informatics-Hub/Parabricks-Genomics-nf'
}

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
// See https://www.nextflow.io/docs/latest/config.html#scope-params 
params {
	help	= false
	outdir	= false
	input	= false
	ref 	= false
	gadi_account = false
}

// Fail a task if any command returns non-zero exit code
// See https://www.nextflow.io/docs/latest/process.html#script 
shell = ['/bin/bash', '-euo', 'pipefail']

// Produce a workflow diagram
// See https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
//dag {
//	enabled = true
//	file = "${params.outdir}/runInfo/dag.svg"
//}

// Output resource and runtime reports for a workflow run
// See https://www.nextflow.io/docs/latest/tracing.html
//report {
//	enabled = true
//	file = "${params.outdir}/runInfo/report.html"
//}

// Output an html timeline report 
// See https://www.nextflow.io/docs/latest/tracing.html#timeline-report 
//timeline {
//	enabled = true
//	file = "${params.outdir}/runInfo/timeline.html"
//}

// Output process execution trace file 
// See https://www.nextflow.io/docs/latest/tracing.html#trace-report
//trace {
//	enabled = true
//	file = "${params.outdir}/runInfo/trace.txt"
//}

// Enable profiles for different compute infrastructures or set up
// See https://www.nextflow.io/docs/latest/config.html#config-profiles
//profiles {
//	test	{ includeConfig "config/test.config"}
//}

singularity {
	enabled = true
	autoMounts = true
	autoCleanUp = true
}

// Set default resources for each process 
// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process 
process {
	module = 'singularity'
	cache = 'lenient'
	project = "${params.gadi_account}"
	storage = "scratch/${params.gadi_account}+gdata/${params.gadi_account}"

	withName: 'check_input' {
		executor = 'local'
	}

	withName: 'bwa_index' {
		executor = 'local'
	}

	withName: 'pb_fq2bam' {
		executor = 'pbspro'
		queue = 'gpuvolta' 
		cpus = 24
		gpus = 2
		time = '1h'
		memory = 190.Gb
		project = 'iz89'
		storage = 'scratch/er01'
	}
	withName: 'pb_deepvariant' {
		//executor = 'local'
		executor = 'pbspro'
		queue = 'gpuvolta' 
		cpus = 24
		gpus = 2
		time = '1h'
		memory = 190.Gb
		project = 'iz89'
		storage = 'scratch/er01'
}}