// Define some metadata for publishing pipeline on GitHub
manifest {
	author = 'Georgie Samaha, Sydney Informatics Hub, University of Sydney'
	name = 'Genomics001: Parabricks-Genomics-nf'
	description = 'GPU-enabled mapping and short variant calling with Parabricks'
	homePage = 'https://github.com/Sydney-Informatics-Hub/Parabricks-Genomics-nf'
}

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
// See https://www.nextflow.io/docs/latest/config.html#scope-params 
params {
	help	= false
	outdir = "results"
	input	= false
	cohort_name = "cohort"
	ref	= false
	gadi_account = false
	vep_species = '' 
	vep_assembly = ''
	download_vep_cache = false
	multiqc_config = "${baseDir}/assets/multiqc_config.yml"
}

profiles {
	gadi	{ includeConfig "config/gadi.config"}
}

singularity {
	enabled = true
	autoMounts = true
	autoCleanUp = true
	}

process {
	cache = 'lenient'

	withLabel: 'parabricks' {
		// Parabricks requires the files to be non-symlinked
		stageInMode = "copy"
	}
}

// Fail a task if any command returns non-zero exit code
// See https://www.nextflow.io/docs/latest/process.html#script 
// See https://sydney-informatics-hub.github.io/tidbits/debugging-bash.html 
shell = ['/bin/bash', '-euo', 'pipefail']

// Produce a workflow diagram
dag {
	enabled = true
	overwrite = true
	file = "${params.outdir}/runInfo/parabricks-genomics001-dag.svg"
}

// Output resource and runtime reports for a workflow run
report {
	enabled = true
	overwrite = true
	file = "${params.outdir}/runInfo/parabricks-genomics001-report.html"
}

// Output an html timeline report 
timeline {
	enabled = true
	overwrite = true
	file = "${params.outdir}/runInfo/parabricks-genomics001-timeline.html"
}

// Output process execution trace file 
// See https://www.nextflow.io/docs/latest/tracing.html#trace-report
trace {
	enabled = true
	overwrite = true
	file = "${params.outdir}/runInfo/parabricks-genomics001-trace.txt"
}
