// =================================================================
// nextflow.config is the main configuration script for a nextflow pipeline
// Should contain the following sections:
	// A manifest for defining workflow metadata
	// Mandated minimal version of Nextflow required to run pipeline
	// Default workflow parameter definitions
	// Shell behaviour settings for the workflow
	// Execution reports
	// Configuration profiles
	// Default resource definitions for processes

// Examples are included for each section. Remove them and replace
// with project-specific code. For more information see:
// https://www.nextflow.io/docs/latest/index.html.
//
// ===================================================================

// Define some metadata for publishing pipeline on GitHub
// See https://www.nextflow.io/docs/latest/config.html#scope-manifest
manifest {
	author = 'Georgie Samaha'
	name = 'Nextflow_DSL2_template-nf'
	description = 'Template for creating Nextflow workflows'
	homePage = 'https://github.com/Sydney-Informatics-Hub/Nextflow_DSL2_template'
}

// Mandate a minimum version of nextflow required to run the pipeline
// See https://www.nextflow.io/docs/latest/config.html#nextflow-version
nextflowVersion = '!>=20.07.1'

// Set default workflow parameters
// See https://www.nextflow.io/docs/latest/config.html#scope-params 
params {
	help	= false
	outdir	= false
	input	= false
	fasta = false
	gadi_account = false
}

// Fail a task if any command returns non-zero exit code
// See https://www.nextflow.io/docs/latest/process.html#script 
shell = ['/bin/bash', '-euo', 'pipefail']

// Produce a workflow diagram
// See https://www.nextflow.io/docs/latest/tracing.html#dag-visualisation
//dag {
//	enabled = true
//	file = "${params.outdir}/runInfo/dag.svg"
//}

// Output resource and runtime reports for a workflow run
// See https://www.nextflow.io/docs/latest/tracing.html
//report {
//	enabled = true
//	file = "${params.outdir}/runInfo/report.html"
//}

// Output an html timeline report 
// See https://www.nextflow.io/docs/latest/tracing.html#timeline-report 
//timeline {
//	enabled = true
//	file = "${params.outdir}/runInfo/timeline.html"
//}

// Output process execution trace file 
// See https://www.nextflow.io/docs/latest/tracing.html#trace-report
//trace {
//	enabled = true
//	file = "${params.outdir}/runInfo/trace.txt"
//}

// Enable profiles for different compute infrastructures or set up
// See https://www.nextflow.io/docs/latest/config.html#config-profiles
//profiles {
//	test	{ includeConfig "config/test.config"}
//}

singularity {
	enabled = true
	autoMounts = true
	autoCleanUp = true
}

// Set default resources for each process 
// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process 
process {
	module = 'singularity'
	cache = 'lenient'
	project = "${params.gadi_account}"
	storage = "scratch/${params.gadi_account}+gdata/${params.gadi_account}"

	withName: 'check_input_temp' {
		executor = 'local'
	}

	withName: 'bwa_index' {
		executor = 'local'
	}

	withName: 'pb_fq2bam' {
		executor = 'pbspro'
		queue = 'gpuvolta'
		cpus = 24
		gpus = 2
		memory = 190.Gb
}
}