// Set gadi parameters
// NCI has special install of Nextflow. See: https://opus.nci.org.au/display/DAE/Nextflow

params {
	gadi_account        = System.getenv("PROJECT")
	storage_account     = "scratch/${System.getenv("PROJECT")}"
	whoami              = System.getenv("USER")
	singularityCacheDir = ''
	timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

// Autodetect relevant Singularity env variables 
singularity {
	enabled     = true
	autoMounts  = true
	autoCleanUp = true
	cacheDir     = params.singularityCacheDir
	    ? params.singularityCacheDir
        : "/scratch/${params.gadi_account}/${params.whoami}/.nextflow/singularity"
}

// Submit up to 300 concurrent jobs (Gadi exec max)
// pollInterval and queueStatInterval of every 30 seconds
// submitRateLimit of 20 per minute
executor {
    queueSize = 300
    pollInterval = '30 sec'
    queueStatInterval = '30 sec'
    submitRateLimit = '20 min'
}

// Set default resources for each process 
// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process 
process {
	module = 'singularity'
	cache = 'lenient'
	executor = 'pbspro'
	project = "${params.gadi_account}"
	storage = "${params.storage_account}"
	queue = { task.memory < 128.GB ? 'normalbw' : (task.memory < 190.GB ? 'normal' : 'hugemem') }

	// Force v4.3.2 until v4.6.0 is properly supported and tested #39 
	withLabel: 'parabricks' {
		module = "parabricks/4.3.2"
	}
}
	
// Write custom trace file with outputs required for SU calculation
trace {
    enabled = true
    overwrite = false
    file = "${params.outdir}/runInfo/gadi-nf-core-trace-${timestamp}.txt"
    fields = 'name,status,exit,duration,realtime,cpus,%cpu,memory,%mem,rss'
}
