// Set default resources for each process 
// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process 

process {
    cache = 'lenient'

    // Set default resources for all processes
    cpus = 1
    memory = 4.Gb

    // Set process specific resources
    // See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process

    withName: extract_flowcell_lane {
        executor = 'local'
    }

    withName: bwa_index {
        queue = 'normal'
        cpus = 2
        memory = 8.Gb
    }

    withName: fastqc {
        queue = 'normal'
        cpus = 1
        memory = 4.Gb
    }

    withName: bcftools_convert {
        queue = 'normal'
        cpus = 1
        memory = 4.Gb
    }

    withName: multiqc {
        queue = 'normalbw'
        cpus = 1
        memory = 10.Gb
    }

    withName: pb_fq2bam {
        // gpuvolta: 4x V100, 48 CPUs, 382 GB per node; dgxa100: 8x A100, 128 CPUs, ~2 TB per node
        queue = { params.parabricks_version == '4.3.2' ? 'gpuvolta' : 'dgxa100' }
        gpus = 4
        cpus = { params.parabricks_version == '4.3.2' ? task.gpus * 12 : task.gpus * 16 }
        time = '4h'
        memory = 380.Gb
    }

    withName: pb_deepvariant {
        queue = { params.parabricks_version == '4.3.2' ? 'gpuvolta' : 'dgxa100' }
        gpus = 4
        cpus = { params.parabricks_version == '4.3.2' ? task.gpus * 12 : task.gpus * 16 }
        time = '4h'
        memory = 380.Gb
    }

    withName: pb_collectmetrics {
        queue = { params.parabricks_version == '4.3.2' ? 'gpuvolta' : 'dgxa100' }
        gpus = 1
        cpus = { params.parabricks_version == '4.3.2' ? task.gpus * 12 : task.gpus * 16 }
        time = '1h'
        memory = { params.parabricks_version == '4.3.2' ? 95.Gb : 190.Gb }
    }

    withName: glnexus_joint_call {
        queue = 'normal'
        cpus = 48
        time = '10h'
        memory = 190.Gb
    }

    withName: download_vep {
        queue = 'copyq'
        cpus = 1
        time = '10h'
        memory = 8.Gb
    }

    withName: annotate_vcf {
        queue = 'normal'
        cpus = 12
        time = '5h'
        memory = 190.Gb
    }
}
