// Set default resources for each process 
// See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process 

process {
    cache = 'lenient'
    
    // Set default resources for all processes
    cpus = 1
    memory = 4.Gb

    // Set process specific resources
    // See https://www.nextflow.io/docs/latest/config.html?highlight=withname#scope-process
    withLabel: parabricks {
        // Fails when symlinked
        stageInMode = "copy"
    }
    
	withName: 'extract_flowcell_lane' {
		executor = 'local'
	}

	withName: 'bwa_index' {
		queue = 'normal'
		cpus = 1
		memory = 4.Gb
	}

	withName: 'fastqc' {
		queue = 'normal'
		cpus = 1
		memory = 4.Gb
	}

	withName: 'bcftools_convert' {
		queue = 'normal'
		cpus = 1
		memory = 4.Gb
	}

	withName: 'multiqc' {
		queue = 'normalbw'
		cpus = 1
		memory = 10.Gb
	}

	withName: 'pb_fq2bam' {
		queue = 'gpuvolta' 
		cpus = 48
		gpus = 4
		time = '4h'
		memory = 380.Gb
	}

	withName: 'pb_deepvariant' {
		queue = 'gpuvolta' 
		cpus = 48
		gpus = 4
		time = '4h'
		memory = 380.Gb
	}

	withName: 'pb_collectmetrics' {
		queue = 'gpuvolta' 
		cpus = 12
		gpus = 1
		time = '1h'
		memory = 190.Gb
	}

	withName: 'glnexus_joint_call' {
        queue = 'normal'
        cpus = 48
        time = '10h'
        memory = 190.Gb
	}
	
	withName: 'download_vep' {
		queue = 'copyq' 
		cpus = 1
		time = '10h'
		memory = 8.Gb
	}	

	withName: 'annotate_vcf' {
		queue = 'normal' 
		cpus = 12 
		time = '5h'
		memory = 190.Gb
	}
}