// TODO develop test profile

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources
    max_cpus = 1
    max_memory = '4GB'
    max_time = '1.h'

    input = "${projectDir}/test/testsamples.csv"
    fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta"
}
